body{
    font-family: 'Bitter', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}

.content-iamge{
    display: flex;
}

.content{
    width: 40%;
    padding-left: 100px;
    padding-top: 100px;
}

h1{
    font-size: 50px;
    border-left:4px solid blueviolet;
    padding-left: 8px;
    border-radius: 10px;
}
.change-color{
    color: blueviolet;
    font-size: 40px;
}
.button{
    text-decoration: none;
    font-weight: 700;
    color: cornsilk;
    background-color: blueviolet;
    padding: 10px 20px;
    border-radius: 10px;
}
.image-resize{
    width: 400px;
    padding-left: 130px;
}